<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Adrian's Blog</h1>
    <p class="lead blog-description">A current news in my world.</p>
    <%= link_to 'Create New Blog', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>
