<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.png", width: 250, alt: "Profile Image" %>
  </div>
  <div class="col-md-8">
    <h1>Adrian Julianto Panatra</h1>
    <p>Hello guys, perkenalan nama saya Adrian. Saya suka bermain dan tertawa. Bingung mau tulis apa lagi. Yang penting isinya panjang dan kelihatan berisi. HEHEHHEHEHE</p>
  </div>
</div>
