<h1>Pages#contact</h1>

<h3>Try ActionView Helper method</h3>
<p><%= number_to_phone "081336383807"%></p>
<p><%= number_to_currency "150"%></p>
<p><%= number_to_percentage "80"%></p>
<p><%= number_with_delimiter "82313210"%></p>
