<h1>Contact Me</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <h3>Kepu Dalam III No 11A, DKI Jakarta</h3>

    <h3>Phone</h3>
    <p><%= number_to_phone "081336383807"%></p>

    <h3>Email</h3>
    <p><a href="mailto:juliantoadrian@gmail.com?subject=feedback">juliantoadrian@gmail.com</a></p>

  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1983.373299084575!2d106.84290620047506!3d-6.164680599605502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f5b83dbf0795%3A0xc99d2252be3689c8!2sJl.+Kepu+Dalam+III%2C+Kemayoran%2C+Kec.+Kemayoran%2C+Kota+Jakarta+Pusat%2C+Daerah+Khusus+Ibukota+Jakarta+10620!5e0!3m2!1sen!2sid!4v1565665585415!5m2!1sen!2sid" width="350" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
