
  <h1 class="cover-heading">Welcome to my own Page.</h1>
  <p class="lead">This is my personal website. My name is Adrian Julianto Panatra. I'm a student in Bina Nusantara Univesity. Currently I'm at the final year while taking a internship program in PT Nutrifood Indonesia as a Ruby and Rails Developer. This website is build base on Ruby on Rails language.</p>
  <p class="lead">
    <%= link_to 'About Me', about_path, class: "btn btn-lg btn-secondary" %>
  </p>
